
<!DOCTYPE html>

<html>
<head>    
    <environment include="Development">
        <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.css" />
    </environment>
   
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <div class="navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">OdeToFood</a>
            </div>
        </div>
    </div>



    <div> 
        @if (User.Identity.IsAuthenticated)
        {
            <div>@User.Identity.Name</div>
            <form method="post" asp-action="LogOut" asp-controller="Account">
                <button type="submit">Log Out</button>
            </form>
        }
        else
        {
            <a asp-controller="Account" asp-action="Login">Login</a>
            <a asp-controller="Account" asp-action="Register">Register</a>
        }
    </div>
    <div>
        @RenderBody()
    </div>
    <br />
    <div>
        <footer>
            @await Component.InvokeAsync("Greeting")
        </footer>
    </div>
    <environment names="Development">
        <script src="~/node_modules/jquery/dist/jquery.js"></script>
        <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>

    <environment names="Staging, Production">
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"
            asp-fallback-src="~/node_modules/jquery/dist/jquery.js"
            asp-fallback-test="window.JQuery">
        </script>

        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"
                asp-fallback-src="~/node_modules/jquery-validation/dist/jquery.validate.js"
                asp-fallback-test="window.JQuery && window.JQuery.validator">
        </script>

        <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"
                asp-fallback-test="window.JQuery && window.JQuery.validator">
        </script>
    </environment>
</body>
</html>
