@model OdeToFood.Entities.Restaurant
@{
    ViewBag.Title = $"Edit {Model.Name}";
}

<!--This edit form is an example of using the new tag helpers in AspCore-->
<!--You can use this syntax rather then the HtmlHelper.ActionLink etc...-->
<form asp-action="Edit" asp-controller="Home" method="post">
    <div>
        <label asp-for="Name" />
        <input asp-for="Name" />
        <span asp-validation-for="Name" />
    </div>
    <div>
        <label asp-for="Cuisine" />
        <select asp-for="Cuisine"
                asp-items="@Html.GetEnumSelectList(typeof(CuisineType))"></select>
        <span asp-validation-for="Cuisine" />
    </div>
    <input type="submit" value="Save" />
    @Html.ActionLink("Home", "Index", "Home")
</form>
